/*Null Style*/
*{ 
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{ 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;} 
a:focus, a:active{outline: none;}


html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-tex-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*----------------------------------------------------*/
body {
	display: grid;
	grid-template-rows: 16vh 84vh;
	grid-template-areas:
	"header"
	"main";
	min-width: 230px;
}

header {

	padding-top: 0.5em;
	grid-area: header;
	height: auto;
	width: 100vw;
	/*position: fixed;*/
	display: flex;
	background-color: rgb(229, 222, 222);

}

main {
		min-height: 80vh;
		grid-area: main;
}
#title {
	
	text-align: center;
	font-size: 3rem;
	line-height: 1.5em; 	
	max-height: 125px;
	flex: 1;
}

#title2 {
	font-family: 'Yellowtail';
	font-size: 2rem;
}
#imgBlock {
	max-width: 100%;
	height: auto;
	border: 1px solid lightgrey;
	box-shadow: 1px 1px 1px 4px rgba(223, 223, 223, 0.8);
	border-radius: 5px;
	display: flex;
}

#img-div {

	flex: 1;
	min-width: 80%;
}
@media (max-width: 230px) {
	#title {
		white-space: nowrap;

	}
	body {
		grid-template-rows: 125px 89vh;
	}
}


@media (min-width: 230px) {
	body {
		grid-template-rows: 125px 89vh;
	}
	#title2 {
	line-height: normal;
}
}


#image {
  display: block;
  width: 90%;
  height: auto;
  margin: 5%;
  max-width: 100%;
}

#img-caption {
	margin-top: -6%;
	text-align: center;
	font-size: 1.5em;
	font-style: italic;
	opacity: 0.5;
}

#tribute-info {
	width: 100vw;
	display: flex;
	flex-direction: column;
	padding-top: 2rem;
	align-items: center;
	background-color: rgba(249, 243, 243, 0.3);
	position: relative;
}

.background {
	 width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
	 background: url('https://zs-magazine.ru/img/risunok-motocikl_87.jpg') center/60% no-repeat;
	 opacity: 0.3;
}

.infoText {
	width: 75vw;
	font-size: 1.5rem;
	
}

.position1, .position3, .position5, .position7, .position9, .position11, .position13 {margin: 2rem 10vw 0 200vw;}
.position2, .position4, .position6, .position8, .position10, .position12 {margin: 2rem 200vw 0 10vw;}


.text1, .text5, .text9, .text13 {
	animation: apear_from_right 3s ease 1 normal running 0s forwards;}

.text3, .text7, .text11 {
	animation: apear_from_right 2s ease-in 1 normal running 0s forwards;}

.text2, .text6, .text10 {
	animation: apear_from_left 2s linear 1 normal running 0s forwards;} 

.text4, .text8, .text12 {
	animation: apear_from_left 3s ease-out 1 normal running 0s forwards;} 

@keyframes apear_from_right {
	0% {margin: 2rem 10vw 0 200vw !important;}
	50% {margin: 2rem 10vw 0 -10vw;}
	100% {margin: 2rem 10vw 0 10vw;}
}

@keyframes apear_from_left {
	0% {margin: 2rem 200vw 0 10vw;}
	50% {margin: 2rem -10vw 0 10vw;}
	100% {margin: 2rem 10vw 0 10vw;}
}


.infoText span {
    font-family: 'Archivo', sans-serif;
    }

#wikiLink {
	margin: 2rem 0;
	font-size: 1.5rem;
	font-weight: 500;
	font-style: italic;
	opacity: 0.5;
}

a {
	color: rgb(149, 17, 17);
	-webkit-transition: 1s ease;
}

a:hover {
	color: rgb(224, 0, 0);
	transition: 1s;
}
a:visited {
	text-decoration: underline;
}